@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

body {
  color: #415467;
  background-color: #18f1f2;
  font-family: "Raleway", sans-serif;
  font-size: 1.5em;
  line-height: 1.875em;
  background: url(../media/fondoprincipalfullweb2.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

body.blogfond {
  background: url(../media/fondoblogfullweb.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15vh;
  height: 100vh;
  background-image: url("../media/banner02.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.fondos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-height: 200px;
  margin-left: 4rem;
}

section {
  margin-left: 7%;
  background-color: white;
  border-radius: 0;
  padding: 80px 0px;
  -webkit-box-shadow: 12px 14px 17px -9px #2f373c;
          box-shadow: 12px 14px 17px -9px #2f373c;
  max-width: 85%;
}

#presentacion {
  margin-bottom: 25vh;
}

span {
  font-weight: 900;
}

#oculto {
  display: none;
}

#oculto:target {
  display: block;
}

#oculto2 {
  display: none;
}

#oculto2:target {
  display: block;
}

.noticia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  justify-items: center;
  margin-bottom: 1rem;
}

.noticia .noticia__conjunto {
  max-width: 60%;
}

.noticia .noticia__conjunto.lefted {
  width: 100%;
}

.noticia .noticia__titulo {
  color: #415467;
  font-size: 2em;
  margin: 0em 0em 1em 0.5rem;
  line-height: 3rem;
}

.noticia .noticia__multimedia img {
  width: 25rem;
  height: 21rem;
  border-radius: 2rem;
}

.noticia.rowReverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

p {
  margin: 0.5rem 0 1rem 0.5rem;
}

p.cita {
  font-weight: 300;
  font-style: italic;
}

p.firma {
  color: #5c96d0;
  font-size: 1rem;
  text-align: center;
  background-color: black;
  padding: 0;
  margin: 0;
}

.boton {
  font-size: 1rem;
  text-decoration: none;
  color: #415467;
  margin-left: 0.5rem;
}

.boton:visited {
  color: #415467;
}

.wp img {
  padding: 0px;
  height: 60px;
  width: 60px;
  position: fixed;
  z-index: 10;
  right: 25px;
  bottom: 25px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.wp img:hover {
  cursor: pointer;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.wp img:active {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.icono {
  background-color: white;
}

h1 {
  color: #415467;
  text-transform: uppercase;
  font-size: 2em;
  text-align: center;
  margin: 1em;
  font-weight: 600;
  text-align: left;
}

h1.centrado {
  text-align: center;
  margin: 0 1em 1em 1em;
}

h1.thinBlog {
  color: white;
}

.fondos h1 {
  position: initial;
  padding: 0;
  margin: 4em 0 0 0;
  color: black;
}

.fondos h2, .fondos p {
  margin: 0;
  color: black;
}

.thinBlog span {
  font-size: 0.66667em;
  font-weight: 300;
}

h2 {
  color: #415467;
  margin-left: 0.5rem;
  font-weight: 600;
  text-align: left;
}

h3 {
  margin-left: 0.5rem;
}

header {
  /*display:flex;
    text-align: center;
    /*min-height: 70px;*/
  /*width: 100%;
    background-color: white;
    justify-content: center;
    align-items: center;*/
}

header img {
  width: 2em;
  margin-left: 5rem;
  margin-right: 1rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.navbar {
  background-color: white;
}

.navbar-toggler {
  cursor: default;
  pointer-events: none;
}

.navbar-nav {
  font-size: 1.25rem !important;
}

.navbar-brand {
  margin-left: 50%;
}

#mainHeader {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

dl, ol, ul {
  margin: 0;
}

ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

ul a {
  text-decoration: none;
  color: #5c96d0;
}

ul a:hover {
  color: #85bdf5;
  text-decoration: none;
}

ul li.inLine {
  display: inline-block;
  margin: 0 3rem !important;
  font-size: 1rem;
}

#footer {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer img {
  width: 2em;
  margin: 0.5em 0 0.1em 0;
}

#footer p {
  font-size: 1rem;
  padding-bottom: 0em;
}

.footer__firma {
  margin: 0 0 0.1em 0;
}

#footerMain {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.margin-icoFace {
  margin: 0.2rem 0.5rem 0 0;
}

.margin-icoInsta {
  margin: 0.2rem 0rem 0 0.5rem;
}

.icono {
  width: 48px;
}

.menuFooter {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align-last: justify;
}

.logoChico {
  width: 1.3em;
  padding: 0;
  margin-left: 3rem;
}

.modal-title {
  color: #7d015d;
}

.modal-body {
  color: #7d015d;
}

.btn-primary {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #b81b8f;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #7d015d;
  border-color: #7d015d;
}

.btn-primary:hover {
  color: #fff;
  background-color: #7d015d;
  border-color: #ba50a3;
}

.btn-primary.focus, .btn-primary:focus {
  color: #fff;
  background-color: #7d015d;
  border-color: #ba50a3;
  /* box-shadow: 0 0 0 0.2rem rgb(186 84 165);*/
}

.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact {
  background: #bd93bd;
  padding: 25px;
  margin: 50px 0;
}

#contact h3 {
  color: #7d015d;
  display: block;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 1rem;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
  width: 100%;
  border: 1px solid white;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #b81b8f;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #b81b8f;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #7d015d;
  -webkit-transition: background 0.3s ease-in-out;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus, #contact textarea:focus {
  outline: 0;
  border: 1px solid #7d015d;
}

/** { box-sizing: border-box; }*/
.tiendaBg {
  background-color: #5c96d0;
  background: #5c96d0;
}

.grupoProductos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.tarjeta {
  width: 650px;
  /* position: absolute;*/
  background: white;
  margin: 0 0rem 1% 50%;
  /*top: 50%;*/
  /*left: 50%;*/
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.tarjeta:hover {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tarjeta .producto {
  width: 100%;
  color: #727272;
  text-transform: uppercase;
  padding: 20px;
  border-bottom: 2px solid #efefef;
  font-size: 12px;
}

.tarjeta .producto svg.heart {
  height: 24px;
  width: 24px;
  float: right;
  margin-top: -3px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: default;
}

.tarjeta .producto svg.heart:hover {
  fill: red;
}

.tarjeta .producto svg.arrow {
  float: left;
  height: 15px;
  width: 15px;
  margin-right: 10px;
}

.tarjeta .photo {
  padding: 30px;
  width: 45%;
  text-align: center;
  float: left;
}

.tarjeta .photo img {
  max-height: 240px;
}

.tarjeta .description {
  padding: 30px;
  float: left;
  width: 55%;
  border-left: 2px solid #efefef;
}

.tarjeta .description h1 {
  color: #415467;
  font-weight: 300;
  padding-top: 15px;
  margin: 0;
  font-size: 30px;
  font-weight: 300;
}

.tarjeta .description h2 {
  color: #515151;
  margin: 0;
  text-transform: uppercase;
  font-weight: 500;
}

.tarjeta .description h4 {
  margin: 0;
  color: #415467;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
}

.tarjeta .description p {
  font-size: 12px;
  line-height: 20px;
  color: #415467;
  padding: 20px 0;
  margin: 0;
}

.tarjeta .description button {
  outline: 0;
  border: 0;
  background: none;
  border: 1px solid #415467;
  padding: 8px 0px;
  margin-bottom: 30px;
  color: #415467;
  text-transform: uppercase;
  width: 125px;
  font-family: inherit;
  margin-right: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-weight: 500;
}

.tarjeta .description button:hover {
  border: 1px solid #5c96d0;
  color: #5c96d0;
  cursor: default;
}

.noCursor {
  cursor: default;
  pointer-events: none;
}

.tarjetaTop {
  margin-top: 15em;
}

.promo-bar-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 auto;
  padding: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  pointer-events: none;
  cursor: default;
}

.siCursor {
  pointer-events: visible;
}

.siCursor:hover {
  text-decoration: none;
}

#collapsed-menu {
  display: none;
}

#promo-bar {
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  max-height: 75px;
  width: 100%;
  padding: 5px 150px 5px 150px;
}

#promo-bar h3 {
  font-size: 16px;
  padding: 5px;
}

#promo-bar p {
  font-size: 11px;
  padding: 2px;
}

#promo-bar a {
  color: #5c96d0;
}

#promo-bar a:hover {
  color: #85bdf5;
}

.desktop-link {
  pointer-events: none;
  cursor: default;
}

@media only screen and (max-width: 990px) {
  li {
    list-style: none;
  }
  .user-link {
    font-size: 11px;
    display: inline;
    float: left;
    margin: 10px 7px;
    padding: auto;
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .desktop-link {
    display: none;
  }
  .collapsed-user-menu {
    background: #d3d3d3;
    height: 70px;
    width: 200%;
    margin-left: -50px;
  }
  #promo-bar {
    display: none;
  }
  #collapsed-menu {
    display: block;
  }
  #menu-logo {
    width: 50%;
    margin-left: -20px;
  }
}
/*# sourceMappingURL=estilos.css.map */