/*$colorFondo: #72c8cb;*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

body {
  color: #415467;
  background-color: #5c96d0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  line-height: 1.875em;
  /*background: url(../media/fondoprincipalfullweb2.jpg);*/
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

body.blogfond {
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15vh;
  height: 100vh;
  background-image: url("../media/banner02.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.fondos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-height: 200px;
  margin-left: 4rem;
}

section {
  margin-left: 7%;
  background-color: white;
  border-radius: 0;
  padding: 80px 0px;
  /*box-shadow: 12px 14px 17px -9px #2f373c;*/
  max-width: 85%;
}

section.mBlog {
  margin-bottom: 3rem;
}

#presentacion {
  margin-bottom: 25vh;
}

span {
  font-weight: 900;
}

#oculto {
  display: none;
}

#oculto:target {
  display: block;
}

#oculto2 {
  display: none;
}

#oculto2:target {
  display: block;
}

.noticia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  justify-items: center;
  margin-bottom: 1rem;
}

.noticia .noticia__conjunto {
  max-width: 60%;
}

.noticia .noticia__conjunto.lefted {
  width: 100%;
}

.noticia .noticia__titulo {
  color: #415467;
  font-size: 2em;
  margin: 0em 0em 1em 0.5rem;
  line-height: 3rem;
}

.noticia .noticia__multimedia img {
  width: 25rem;
  height: 21rem;
  border-radius: 2rem;
}

.noticia.rowReverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

p {
  margin: 0.5rem 0 1rem 0.5rem;
}

p.cita {
  font-weight: 300;
  font-style: italic;
}

p.firma {
  color: #5c96d0;
  font-size: 1rem;
  text-align: center;
  background-color: black;
  padding: 0;
  margin: 0;
}

p .caracteristica {
  margin-top: -5px;
}

.boton {
  font-size: 1rem;
  text-decoration: none;
  color: #415467;
  margin-left: 0.5rem;
}

.boton:visited {
  color: #415467;
}

.wp img {
  padding: 0px;
  height: 60px;
  width: 60px;
  position: fixed;
  z-index: 10;
  right: 25px;
  bottom: 25px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.wp img:hover {
  cursor: pointer;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.wp img:active {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.icono {
  background-color: white;
}

h1 {
  color: #415467;
  text-transform: uppercase;
  font-size: 2em;
  text-align: center;
  margin: 1em;
  font-weight: 600;
  text-align: left;
}

h1.centrado {
  text-align: center;
  margin: 0 1em 1em 1em;
}

h1.thinBlog {
  color: white;
}

.fondos h1 {
  position: initial;
  padding: 0;
  margin: 4em 0 0 0;
  color: black;
}

.fondos h2, .fondos p {
  margin: 0;
  color: black;
}

.thinBlog span {
  font-size: 0.66667em;
  font-weight: 300;
}

h2 {
  color: #415467;
  margin-left: 0.5rem;
  font-weight: 600;
  text-align: left;
}

h3 {
  margin-left: 0.5rem;
}

header {
  font-size: 1.5rem;
  min-height: 4rem;
}

.fixed-top {
  max-height: 3em;
}

.logoMain {
  width: 2em;
  margin-left: 0;
  margin-right: 1rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.navbar {
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-link {
  padding: 1rem;
}

#mainHeader {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

dl, ol, ul {
  margin: 0;
}

ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

ul a {
  text-decoration: none;
  color: #5c96d0;
}

ul a:hover {
  color: #85bdf5;
  text-decoration: none;
}

ul.navbar-nav {
  margin-bottom: 5px;
  font-size: 1.5rem;
}

.site-footer {
  background-color: #000000;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #415467;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}

.site-footer hr.small {
  margin: 20px 0;
}

.site-footer h6 {
  color: #a0c2e5;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  margin-left: .5rem;
  letter-spacing: 2px;
}

.site-footer a {
  color: #5c96d0;
}

.site-footer a:hover {
  color: #85bdf5;
  text-decoration: none;
}

.footer-links {
  padding-left: 7px;
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.footer-links li {
  display: block;
}

.footer-links a {
  color: #5c96d0;
}

.footer-links a:active, .footer-links a:focus, .footer-links a:hover {
  color: #85bdf5;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block;
}

.site-footer .social-icons {
  text-align: right;
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 24px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}

.copyright-text {
  margin: 0;
}

@media (max-width: 991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text, .site-footer .social-icons {
    text-align: center;
  }
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.social-icons a:active, .social-icons a:focus, .social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

.social-icons a.facebook:hover {
  background-color: #3b5998;
}

.social-icons a.linkedin:hover {
  background-color: #007bb6;
}

@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}

.modal-title {
  color: #14406b;
}

.modal-body {
  color: #14406b;
}

.btn-primary {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #406c9f;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0e3159;
  border-color: #193758;
}

.btn-primary:hover {
  color: #fff;
  background-color: #184381;
  border-color: #315485;
}

.btn-primary.focus, .btn-primary:focus {
  color: #fff;
  background-color: #184381;
  border-color: #315485;
  /* box-shadow: 0 0 0 0.2rem rgb(186 84 165);*/
}

.formulario {
  max-width: 400px;
  width: 100%;
  margin: 0 0;
  position: relative;
}

.flowContacto {
  margin-top: 2em;
}

#contact {
  background: #14406b;
  padding: 25px;
  margin: 50px 0;
}

#contact h3 {
  color: white;
  display: block;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 1rem;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
  width: 100%;
  border: 1px solid white;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #5c96d0;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #406c9f;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #184381;
  -webkit-transition: background 0.3s ease-in-out;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus, #contact textarea:focus {
  outline: 0;
  border: 1px solid #5c96d0;
}

/** { box-sizing: border-box; }*/
.tiendaBg {
  background-color: #5c96d0;
  background: #5c96d0;
}

.grupoProductos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.tarjeta {
  width: 650px;
  /* position: absolute;*/
  background: white;
  margin: 0 0rem 1% 50%;
  /*top: 50%;*/
  /*left: 50%;*/
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.tarjeta:hover {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tarjeta .producto {
  width: 100%;
  color: #727272;
  text-transform: uppercase;
  padding: 20px;
  border-bottom: 2px solid #efefef;
  font-size: 12px;
}

.tarjeta .producto svg.heart {
  height: 24px;
  width: 24px;
  float: right;
  margin-top: -10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: default;
}

.tarjeta .producto svg.heart:hover {
  fill: red;
}

.tarjeta .producto svg.arrow {
  float: left;
  height: 15px;
  width: 15px;
  margin-right: 10px;
}

.tarjeta .photo {
  margin-top: 40px;
  padding: 30px;
  width: 45%;
  text-align: center;
  float: left;
}

.tarjeta .photo img {
  max-height: 240px;
}

.tarjeta .description {
  padding: 30px;
  float: left;
  width: 55%;
  border-left: 2px solid #efefef;
  color: #415467;
}

.tarjeta .description h1 {
  color: #415467;
  font-weight: 300;
  padding-top: 15px;
  margin: 0;
  font-size: 30px;
  font-weight: 300;
}

.tarjeta .description h2 {
  color: #415467;
  margin: 0;
  text-transform: none;
  font-weight: 500;
}

.tarjeta .description h4 {
  margin: 5px 0 0 0;
  color: #415467;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
}

.tarjeta .description p {
  font-size: 12px;
  line-height: 20px;
  color: #415467;
  padding: 20px 0;
  margin: 0;
}

.tarjeta .description p.caracteristica {
  padding-top: 0px;
}

.tarjeta .description button {
  outline: 0;
  border: 0;
  background: none;
  border: 1px solid #415467;
  padding: 8px 0px;
  margin-bottom: 30px;
  color: #415467;
  text-transform: uppercase;
  width: 300px;
  font-family: inherit;
  margin-right: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-weight: 500;
}

.tarjeta .description button:hover {
  border: 1px solid #5c96d0;
  color: #5c96d0;
  cursor: default;
}

.detalleProducto {
  -ms-flex-line-pack: start;
      align-content: start;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 20px 0;
}

.detalleProducto li {
  margin: -.5rem 0;
}

.noCursor {
  cursor: default;
  pointer-events: none;
}

.tarjetaTop {
  margin-top: 15em;
}

/*$main-font: 'Roboto',sans-serif;
$primary-color: #57e2b2;
$light-gray: #f8f8f8;
$main-font-color: #808080;
$main-font-weight: 300;*/
.container.precios {
  margin-top: 4em;
  margin-bottom: 6em;
}

.row.dos {
  min-height: 100vh;
}

.card {
  border: 0;
  border-radius: 0px;
  -webkit-box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.08);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  padding: 2.25rem 0;
  position: relative;
  will-change: transform;
}

.card:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 5px;
  background-color: #1873ce;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
}

.card:hover:after {
  width: 100%;
}

.card .card-header {
  background-color: white;
  padding-left: 2.5rem;
  border-bottom: 0px;
}

.card .card-title {
  margin-bottom: 1rem;
  margin-left: 2rem;
  font-size: 1.7rem;
}

.card .card-block {
  padding-top: 0;
  font-size: 1rem;
}

.card .list-group-item {
  border: 0px;
  padding: .25rem;
  color: #415467;
  font-weight: 300;
  margin-left: 2rem;
}

.display-2 {
  font-size: 5rem;
  letter-spacing: -.5rem;
}

.display-2 .currency {
  font-size: 1.5rem;
  position: relative;
  font-weight: 400;
  top: -45px;
  letter-spacing: 0px;
}

.btn.precio {
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: 500;
  background-color: #429953;
  color: white;
  border-radius: 0;
  padding: .75rem 1.25rem;
  letter-spacing: 1px;
  margin-left: 6rem;
}

.btn-gradient {
  background-color: #f2f2f2;
  -webkit-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

.btn-gradient:hover {
  color: white;
  background-color: #5c96d0;
}
/*# sourceMappingURL=estilos.css.map */