/*header{
  img{
    width: 2em;
    margin-left: 0;
    margin-right: 1rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    }
}*/

.logoMain{
  width: 2em;
  margin-left: 0;
  margin-right: 1rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.navbar{
  background-color: white;
  justify-content: center;
}

/*.navbar-brand{
  img{
    margin-left: 20rem;
  }
}*/

/*.navbar-toggler{
  cursor: pointer;
  pointer-events: visible;
}*/

/*.navbar-nav{
  font-size: 1.25rem !important;
}*/

/*.navbar-brand{
  margin-left: 50%;
}*/

#mainHeader{
  justify-content: space-around;
}

dl, ol, ul {
  margin: 0;
}

ul{
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  a{
    text-decoration: none;
    color: $colorLinks;
    &:hover{
      color: #85bdf5;
      text-decoration: none;
    }
  }

  li.inLine{
    display:inline-block;
    margin: 0 3rem !important;
    font-size: 1rem;

  }
}