
*{
	margin:0px;
	padding: 0px;
}

body{
    color: $colorTexto;
    background-color: $colorFondo;
    font-family: $fuenteTexto;
    font-size: $cuerpoSize;
    line-height: $cuerpoSize*1.25;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#banner{
    margin-bottom: $bannerespacio*0.15;
    height: $bannerespacio;
    background-image: url("../media/banner02.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.fondos{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 17em;
    margin-left: 2em;
}

section{

    margin-left: 7%;
    background-color: $fondoNoticia;
    border-radius: 0;
    padding: $paddingNoticia 0px;
    max-width: 85%;
    &.mBlog{
        margin-bottom: 3rem;
    }

}

#presentacion{
    margin-bottom: $bannerespacio*0.25;
}

span{
    font-weight: 900;
}

#oculto {
    display: none;
}
  
#oculto:target {
  display: block;
}

#oculto2 {
    display: none;
}
  
#oculto2:target {
  display: block;
}

.noticia{
    display: flex;
    flex-flow: row wrap;
    align-items:center;
    justify-content: space-evenly;
    justify-items: center;
    margin-bottom: 1rem;

    .noticia__conjunto{
        max-width: 60%;
        &.lefted{
            width: 100%;
        }
    }

    .noticia__titulo{
    color: $colorTexto;
    font-size: $tituloSize;
    margin: 0em 0em 1em 0.5rem;
    line-height: 3rem;

    }

    .noticia__multimedia{
        img{
            width: 25rem;
            height: 21rem;
            border-radius: 2rem;
            
        }
    }

    &.rowReverse{
        flex-direction: row-reverse;
    }
}

p{
    margin: 0.5rem 0 1rem 0.5rem;
    &.cita{
        font-weight: 300;
        font-style: italic;
    }
    &.firma{
        color: #5c96d0;
        font-size: 1rem;
        text-align: center;
        background-color: black;
        padding: 0;
        margin: 0;
    }
    .caracteristica{
        margin-top: -5px;
    }
}

.boton{
    font-size: 1rem ;
    text-decoration: none ;
    color:$colorTexto;
    margin-left: 0.5rem;
    &:visited{
        color:$colorTexto;
    }
}

.wp{
    img{
	    padding:0px;
	    height: 60px;
	    width: 60px;
	    position: fixed;
	    z-index: 10;
	    right: 25px;
	    bottom:25px;
	    transition: all 0.5s;
        &:hover{
            cursor:pointer;
            transform: translateY(-8px);
        }
        &:active{
            transform:translateY(4px);
        }
    }
}

.icono{
    background-color: white;
}

@media (max-width: 768px ){
    .tarjeta{
      max-width: 500px !important;
    }

    .tarjeta .description button {
        width: 254px !important;
        font-size: 1rem !important;
        margin-left: -1.2rem !important;
    }

    .tarjeta .photo {
        padding: 80px 0 0 0 !important;
    }
}

@media (max-width: 576px) {

    section{
        padding: 45px 0;
    }
    .noticia{
        font-size: .9rem;
    }

    .noticia .noticia__multimedia img {
        width: 15rem;
        height: 12rem;
        border-radius: 2rem;
    }

    #banner{
        background-position: left;
    }

    .fondos{
        margin-left: .5rem !important;
    }

}

@media (max-width: 576px){
    .tarjeta{
    max-width: 375px !important;
    }
    .tarjeta .description{
    width:200px !important;
    float: none !important;
    }

   .tarjeta .description button {
    width: 260px !important;
    font-family: $fuenteTexto !important ;
    font-weight: 400 !important;
    font-size: 1rem !important;
    margin-left: 1.5em;
    }

    .tarjeta .photo{
        float: none !important;
    }

    .grupoProductos{
        margin-top: 6em;
    }

    .detalleProducto {
        width: 191px;
    }

    .desk{
        display:none !important;
    }
}

@media (min-width: 577px){
    .cel{
        display:none
    }
}

@media (min-width: 577px) and (orientation: landscape){
    .fondos{
    margin-top: 9em !important;
    margin-left: .5em !important;
    }
}