$colorFondo: #18f1f2;
$colorTexto: #415467 ;
$fuenteTexto: 'Raleway', sans-serif;
$colorTitulos: #415467;
$cuerpoSize: 1.5em;
$tituloSize: 2em;
$fondoNoticia: white;
$paddingNoticia: 50px;
$colorfoothead: black;
$bannerespacio: 100vh;
$colorTextoBanner: black;